html{
    background:linear-gradient(to bottom, rgb(127, 5, 123), rgb(72, 2, 69));
    overflow:auto;
    height:100%;
}
.header{
    padding:0%;
}

main{
    background-color: rgba(0,0,0,0,0);
    background-image: url(../images/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:1400px;
    padding-top: 0%;
    display:flex;
    animation: space 240s linear infinite;
    color:white;
}

.navbar-login p{
    display:flex;
    height:100%;
    text-align:center;
    color:white;
    align-items: center;
    top:0px;
}
.navbar-signout{
    margin:5px;
    border-radius: 10px;
    margin-left:20px;
    margin-right:30px;
    padding-right:5px;
    padding-left:5px;
    position:relative;
    outline: 2px solid black;
}
.signed-in-navbar h3{
    color:white;
    margin-left:10px;
}
.navbar-signout:hover {
    outline:4px solid greenyellow;
}
.navbar-login-text{
    padding-right:10px;
}
.username-text-box:focus {
    outline:4px solid greenyellow;
}
.navbar-submit{
    outline: 2px solid black;
    border-radius:10px;
    margin-left:10px;
    margin-right:10px;
    padding-right:5px;
    padding-left:5px;
    position:relative;

}
.navbar-submit:hover{
    outline: 2px solid greenyellow;
}
.username-text-box {
    padding-left:5px;
    padding-right:5px;
}
@keyframes space {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.buffer-container{
    align-items: center;
    flex:10%;
    margin:2px;
    background-color:rgba(0,0,0,0);
}

.middle-container{
    flex:80%;
    padding:2%;
    outline: solid,3px, black;
    background-color:rgba(0,0,0,0);
    align-items: center;
}



.middle-container h1{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    
    color: #d3d2d6;
    background-color: rgba(0,0,0,0);
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
      
}
.game-outer{
    background:linear-gradient(rgb(62, 5, 40), rgb(223, 15, 167));
    width:820px;
    height:620px;
    display:grid;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
    justify-content:center;
    overflow:hidden;
    border-radius:15px;
}
.game-outer::before{
    content:"";
    position:absolute;
    width:800px;
    height:800px;
    background:linear-gradient(rgb(133, 20, 118),rgb(41, 16, 80));
    animation:glow-effect 10s linear infinite;
}
.game-outer::after{
    content:"";
    position:absolute;
    inset:4px;
    border-radius:4px;
}
@keyframes glow-effect{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.game{
    display:flex;
    padding:0%;
    margin:10px;
    outline: solid 3px black;
    width:800px;
    height:600px;   
    z-index:10;
    border-radius:10px;
}

.table-container{
    display:flex;
    align-items:center;
    align-self:center;
    width:100%;
    min-height:400px;
}


.outer-descript{
    border-radius:20px;
    flex:33%;
    display:flex;
    align-items:center;
    align-self:center;
    outline: solid 3px black;
    margin:3%;
    background:linear-gradient(to bottom right,black,rgb(31, 179, 212),rgb(8, 144, 142),black);
    background-size: 400% 400%;
    height:370px;
    width:370px;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.description{
    border-radius:20px;
    flex:100%;
    margin:10px;
    padding:10px;
    height:350px;
    background: rgb(24, 133, 223);
    font-size: 14;
    outline:solid 1px black;
    overflow:auto;
}
.high-score{
    border-radius:20px;
    margin:10px;
    padding:10px;
    flex:100%;
    height:350px;
    background: rgb(24, 133, 223);
    outline:solid 1px black;
    overflow:auto;
}

.log-in{
    border-radius:20px;
    margin:10px;
    padding:10px;
    flex:100%;
    height:350px;
    background: rgb(24, 133, 223);
    outline:solid 1px black;
    overflow:auto;
}

.login-box{
    border-radius:8px;
    padding:4px;
    margin:5px;
}

.login-box:focus {
    outline:4px solid greenyellow;
}

.login-submit{
    color:white;
    margin:5px;
    margin-right:100px;
    background: radial-gradient(
        farthest-corner at 40px 40px,
        #f35 0%,
        #43e 100%
      );
    background-size: 400%;
    animation: space 10s ease infinite;
}
.login-submit:hover{
    outline: 4px solid greenyellow;
}