{% extends 'base.html' %}
{% block title %}Sign in/up Page{% endblock %}

{% block content %}
<form action = "#" method = "post">
    <label for="username">Username:</label><br>
    <input type="text" style = "background-color:#eec7fe" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="text" style = "background-color:#eec7fe" id="password" name="password" required><br/>
    <br/>
    <input type="submit" value="Create New User">
    <input type="submit" value="Login">
</form>
{% endblock %} 