<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->


    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Skyfall</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
    </style>
  </head>


  <body>

    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container">
          <a class="navbar-brand" href="#">QH</a>
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Github</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creators</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="https://github.com/ChristinaDao27">Christina Dao</a>
                  <a class="dropdown-item" href="https://github.com/amarjotgill">Amarjot Gill</a>
                  <a class="dropdown-item" href="https://github.com/sanjayagyawali">Sanjaya Gyawali</a>
                  <a class="dropdown-item" href="https://github.com/thphamUMBC">Thanh Pham</a>
                  <a class="dropdown-item" href="https://github.com/JWongCentral/">Jack Wong</a>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    
   
    <main>
        <div class = "buffer-container"></div>
        <div class = "middle-container">
          <div class = "title-container">
            <h1>Sky Fall</h1>

          </div>
          <div class = "game" id = "game">
            <script type = "text/javascript" src = "{{ url_for('static', filename='js/phaser.js') }}"></script>
          </div>

          <div class = "table-container">
            <div class = "outer-descript">
              <div class = "description">
                <table>
                  <tr>
                    <th>How to Play</th>
                  </tr>
                  <tr>
                    <td>1. use the arrow keys to move</td>
                  </tr>
                  <tr>
                    <td>2. Dodge the meteors to earn points</td>
                  </tr>
                  <tr>
                    <td>3. Each meteor dodged is one point</td>
                  </tr>
                  <tr>
                    <td>4. You can pickup power ups to improve your chances of surviving</td>
                  </tr>

                </table>
              </div>
            </div>
            <div class = "outer-descript">
              
              <div class = "log-in">
                {% if user.is_authenticated %}
                  <h3>Hello {{ user.username}}!</h3>
                  <p>level: {{ user.currentLevel}}</p>
                  <p>High Score: {{user.topScore}}</p>
                  <form method="POST" action = "/">
                    <input type="submit" name = "logout" value="Sign Out">
                  </form>
                {%else%}
                <h3>CREATE/LOGIN</h3>
                <form method = "POST" action = "/" >
                    <label for="username">Username:</label><br>
                    <input type="text" style = "background-color:#eec7fe" id="username" name="username" required><br>
                    <label for="password">Password:</label><br>
                    <input type="text" style = "background-color:#eec7fe" id="password" name="password" required><br/>
                    <br/>
                    <input type="submit" name = "create_new_user" value="Create New User">
                    <input type="submit" name = "login" value="Login">
                    <br></br>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {%if messages %}
                      {%for category,message in messages %}
                        {%if category == 'error'%}
                          <div class = "alert alert-danger alter-dismissable fade show" role = "alert">
                            {{ message }}
                          </div>
                        {%else%}
                          <div class = "alert alert-success alter-dismissable fade show" role = "alert">
                            {{ message }}
                          </div>
                        {%endif%}
                      {%endfor%}
                    {%endif%}
                    {%endwith%}
                </form>
                {%endif%}
              </div>
            </div>

            <div class = "outer-descript">
              <div class = "high-score">
                <h3>High Score</h3>
                <p>1. Awesome-o<p>
              </div>
            </div>
          </div>
        </div>
        <div class = "buffer-container"> </div>
      
  
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

  </body>


</html>
