html{
    background:linear-gradient(to bottom, rgb(127, 5, 123), rgb(72, 2, 69));
    overflow:auto;
    height:100%;
}
.header{
    padding:0%;
}

main{
    background-color: rgba(0,0,0,0,0);
    background-image: url(../images/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:1400px;
    padding-top: 0%;
    display:flex;
    animation: space 240s linear infinite;
}

@keyframes space {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.buffer-container{
    align-items: center;
    flex:10%;
    margin:2px;
    background-color:rgba(0,0,0,0);
}

.middle-container{
    overflow-y:auto;
    flex:80%;
    padding:2%;
    outline: solid,3px, black;
    background-color:rgba(0,0,0,0);
    align-items: center;
}



.middle-container h1{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    
    color: #d3d2d6;
    background-color: rgba(0,0,0,0);
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
      
}
.game{
    padding:0%;
    margin:0%;
    display:grid;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
    outline: solid 3px black;
    width:800px;
    height:600px;   
}
.game-canvas{
    align-self:center;
    width:800px;
    height:600px;   
}
.table-container{
    display:flex;
    align-items:center;
    align-self:center;
    width:100%;
    min-height:400px;
}


.outer-descript{
    flex:33%;
    display:flex;
    align-items:center;
    align-self:center;
    outline: solid 3px black;
    margin:3%;
    background:linear-gradient(to bottom right,black,rgb(31, 179, 212),rgb(8, 144, 142),black);
    background-size: 400% 400%;
    height:370px;
    width:370px;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.description{
    flex:100%;
    margin:10px;
    padding:10px;
    height:350px;
    background: rgb(24, 133, 223);
    font-size: 14;
    outline:solid 1px black;
    overflow:auto;
}
.high-score{
    margin:10px;
    padding:10px;
    flex:100%;
    height:350px;
    background: rgb(24, 133, 223);
    outline:solid 1px black;
    overflow:auto;
}

.log-in{
    margin:10px;
    padding:10px;
    flex:100%;
    height:350px;
    background: rgb(24, 133, 223);
    outline:solid 1px black;
    overflow:auto;
}
