html{
    background:rgb(255, 255, 255);
    background-color: white;
}
.header{
    padding:0%;
}

main{
    width:0%;
    height:0px;
    padding-top: 0%;
    display:flex;
}


.buffer-container{
    background:linear-gradient(25deg, rgb(0, 9, 74), rgb(13, 21, 169));
    flex:10%;
}

.middle-container{
    flex:80%;
    padding:2%;
}
.game{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
    outline: solid 3px black;
    min-height:600px;
    min-width:800px;
}
.game-canvas{
    width:800px;
    height:600px;   
}
.table-container{
    display:flex;
    width:100%;
    min-height:400px;
}

.description{
    margin:3%;
    padding:2%;
    flex: 40%;
    outline: solid 3px black;
    min-height:400px;
}

.high-score{
    margin:3%;
    padding:2%;
    outline: solid 3px black;
    flex:60%;
    min-height:400px;
}

.log-in{
    margin:3%;
    padding:2%;
    outline: solid 3px black;
    flex:60%;
    min-height:400px;
}

