html{
    background:linear-gradient(to bottom, rgb(15, 114, 15), rgb(6, 113, 6));
}
.header{
    padding:0%;
}

main{
    width:100%;
    height:1280px;
    padding-top: 0%;
    display:flex;
}


.buffer-container{
    margin:2px;
    outline: solid 3px black;
    background:linear-gradient(25deg, rgb(0, 9, 74), rgb(13, 21, 169));
    flex:10%;
}

.middle-container{
    background: linear-gradient(to bottom, rgb(42, 154, 198), rgb(14, 111, 150));
    flex:80%;
    padding:2%;
    outline: solid,3px, black;
}
.game{
    padding:0%;
    margin:0%;
    display:grid;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    align-self:center;
    outline: solid 3px black;
    width:800px;
    height:600px;   
}
.game-canvas{
    align-self:center;
    width:800px;
    height:600px;   
}
.table-container{
    display:flex;
    width:100%;
    min-height:400px;
}


.outer-descript{
    flex:100%;
    outline: solid 3px black;
    margin:3%;
    background:linear-gradient(to bottom right,black,rgb(31, 179, 212),rgb(8, 144, 142),black);
    background-size: 400% 400%;
    min-height:356px;
    min-width:356px;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.description{
    margin:3%;
    padding:2%;
    min-height:350px;
    background: rgb(24, 133, 223);
    font-size: 14;
    outline:solid 1px black;
}
.high-score{
    margin:3%;
    padding:2%;
    min-height:350px;
    background: rgb(24, 133, 223);
    outline:solid 1px black;
}

.log-in{
    margin:3%;
    padding:2%;
    min-height:350px;
    min-width:350px;
    background: rgb(24, 133, 223);
    outline:solid 1px black;
}
